<div class="project-item">
  <h2>
    {% if project.clickable != false %}
    <a href="{{ project.url | relative_url }}">{{ project.title }}</a>
    {% else %} {{ project.title }} {% endif %}
  </h2>

  {% if project.thumbnails %}
  <div class="project-thumbnails">
    {% for thumbnail in project.thumbnails %}
    <div class="project-thumbnail">
      <img src="{{ thumbnail }}" alt="{{ project.title }} thumbnail" />
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <p>
    <!-- description -->
    {% for source in project.description %} {{ source }} {% endfor %}

    <br /><br />
    <!-- stack -->
    {% if project.stack %} <strong>Tech:</strong> {{ project.stack | join: ", "
    }}<br />{% endif %} {% if project.tags %}
    <!-- tags -->
    <strong>Tags:</strong> {{ project.tags | join: ", " }}<br />{% endif %} {%
    if project.source_code %}
    <!-- source -->
    <strong>Source: </strong>
    {% for source in project.source_code %}
    <a href="{{ source }}">{{ source }}</a> {% if forloop.last == false %}
    <br />{% endif %} {% endfor %} {% endif %}

    <!-- date -->
    {% if project.custom_date %} <br /><strong>Date:</strong> {{
    project.custom_date | date: "%Y-%m-%d" }}{% endif %}

    <!-- read more -->
    {% if project.clickable != false %} <br /><br />
    <strong><a href="{{ project.url | relative_url }}">Read more</a></strong>
    {% endif %}
  </p>
</div>
