<aside class="sidebar">
    <div class="logo no-select">
        <div class="logo-text">szymon<br>.blog</div>
    </div>
    <div>
        things i build
    </div>
    <nav class="nav no-select">
        {% include nav.html %}
    </nav>
    <div class="social">
        <a href="https://linkedin.com/in/szymonbednorz" class="social-link">
            <div class="option">
                <img src="{{ '/assets/icons/linkedin.svg' | relative_url }}" alt="Linkedin" class="social-icon">
            </div>
        </a>
        <a href="https://github.com/dsonyy" class="social-link">
            <div class="option">
                <img src="{{ '/assets/icons/github.svg' | relative_url }}" alt="Github" class="social-icon">
            </div>
        </a>
        <a href="https://instagram.com/sbdnrz" class="social-link">
            <div class="option">
                <img src="{{ '/assets/icons/instagram.svg' | relative_url }}" alt="Instagram" class="social-icon">
            </div>
        </a>
    </div>
</aside> 