@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaPTExtraBold.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaPTBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaPTHeavy.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaPTDemi.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaPTMedium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaPTBook.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura';
    src: url('../fonts/FuturaPTLight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Futura', system-ui, -apple-system, sans-serif;
    font-weight: 400;
    margin: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg-main);
    font-size: medium;
    overflow-x: hidden;
    color: var(--color-text);
}

.container {
    display: flex;
    width: 800px;
    margin-top: 80px;
}

.sidebar {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;
    margin-right: 40px;
}

.content {
    max-width: 560px;
    padding: 0 40px;
    text-align: justify;
}

.no-select {
    -webkit-user-select: none;  /* Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* IE10+/Edge */
    user-select: none;          /* Standard */
}

p {
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 40px;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 40px auto;
    display: block;
}